<div class="px-4 py-5 my-5 text-center">
  <% if @user.booked_place? %>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"><%= @user.active_booking.place.number %>is the place you've booked.</p>
      <a class="btn btn-primary btn-sm" href="/release?number=<%= @user.active_booking.place.number %>">Release</a>
    </div>
  <% else %>
    <h1 class="display-5 fw-bold">You haven't booked any place for today.</h1>
  <% end %>
</div>