<div class="d-flex flex-wrap justify-content-evenly flex-row bd-highlight mb-3">
  <% Place.all.each do |place| %>
    <div class="p-2 m-2 bd-highlight border border-primary">Place number <%= place.number %></div>
  <% end %>
</div>
