<div class="d-flex flex-wrap justify-content-evenly flex-row bd-highlight mb-3">
  <div class="p-2 m-2 bd-highlight border border-primary">Flex item 1</div>
  <div class="p-2 m-2 bd-highlight border border-primary">Flex item 1</div>
  <div class="p-2 m-2 bd-highlight border border-primary">Flex item 1</div>
  <div class="p-2 m-2 bd-highlight border border-primary">Flex item 1</div>
  <div class="p-2 m-2 bd-highlight border border-primary">Flex item 1</div>
  <div class="p-2 m-2 bd-highlight border border-primary">Flex item 1</div>
  <div class="p-2 m-2 bd-highlight border border-primary">Flex item 1</div>
  <div class="p-2 m-2 bd-highlight border border-primary">Flex item 1</div>
</div>
